.bg {
  background-color: #7f849c;
}

.layer1 {
  background-color: #1e1e2e;
}

.layer2 {
  background-color: #1e1e2e;
}

.layer3 {
  background-color: #1e1e2e;
}

.layer4 {
  background-color: #1e1e2e;
}

.bar {
  background-color: #232634;
}
