lazygit
QtProject.conf
obs-studio
github-copilot
mpv
mimeapps.list
pulse
glib-2.0
Code
libreoffice
YouTube Music
libvirt
htop
pavucontrol.ini
heroic
qimgv
Jackbox Games
gh
xclicker.conf
Mine*
dconf
calcurse
JetBrains
assets
chromium
Code*
gtk*
nwg-*
autostart
qt6ct/qt6ct.conf
pcmanfm-qt/default/settings.conf
pcmanfm-qt/default/recent-files.conf
pavucontrol-qt/pavucontrol-qt.conf
Kvantum/kvantum.kvconfig
user-dirs.dirs
