.vscode
chromium
Code
dconf
fontforge
pavucontrol.ini
QtProject.conf
mimeapps.list
autostart
discord
Electron
github-copilot
go
htop
libvirt
Nextcloud
obs-studio
PreMiD
PreMiD Portable
procps
pulse
rustdesk
spicetify
spotify
Youtube Music
polybar/token.token
bash/.bash_history
zed
nvim
VirtualBox
warp-terminal
micro
godot
