/asciinema
/Code
/dconf
/YouTube Music
/github-copilot
/bat/config
/gtk-3.0/settings.ini
/gtk-4.0/settings.ini
/kitty/kitty.conf
/pulse
/rofi/config.rasi
/res/Xresources
/gtk-3.0/bookmarks
/obsidian
/qt5ct/qt5ct.conf
/qt6ct/qt6ct.conf
/torbrowser
/pavu
/nvim
glib-2.0
mimeapps.list
/nvim
/vesktop
/Vencord
/vesktop
pavucontrol.ini