.bg {
  background-color: #7f849c;
}

.layer1 {
  background-color: #1e1e2e;
}

.layer2 {
  background-color: #1e1e2e;
}

.layer3 {
  background-color: #1e1e2e;
}

.layer4 {
  background: rgba(255, 255, 255, 0.0);
}

.bar {
  background-color: #232634;
}

.activatewin {
  font-size: 25px;
}

.apps {
  font-size: 12px;
}
